:root{
    --blue-primary: #0D28A6;
    --green-primary: #5CB85F;
    --black: #000;
    --white: #FFF;
    --neutral: #D0D0D0;
    --bg: #F1F3FF;
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*agar tdk perlu mengatur dimensi border lagi*/
    outline: none;
    border: none;
    text-decoration: none; /*biar tidak ada garis bawahnya ketika buat link*/
    list-style: none;
}

body{
    font-family: 'Helvetica', sans-serif;
}

h1{
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.3rem;
}

h2{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
}


p{
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.25rem;
}

a{
    color: var(--black);
}

img{
    max-width: 100%;
    display: inline-block;
    object-fit: cover;
}

/* ========== Pembuatan Button =========== */
.btn {
    display: inline-block;
    background: var(--white);
    color: var(--black);
    padding: 0.5rem 0.8rem;
    border: 2px solid transparent;
    font-size: 0.8rem;
    font-weight: 700;
}

.btn-primary{
    background: var(--green-primary);
    color: var(--white);
}


/* ========== Navigation Bar =========== */
.nav__container{
    padding: 1.5rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg);
}

.nav__menu{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 14px;
}



/* ========== Pengerjaan header =========== */
header{
    position: relative;
    overflow: hidden;
    margin-bottom: 3rem;
}

.header__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 3rem;
    align-items: center;
    gap: 2rem;
    background: var(--bg);
}

.header__kiri{
    align-items: center;
    padding-left: 5rem;
}

.header__kiri p{
    margin: 1rem 0 2rem;
}



/* ========== Pengerjaan section services =========== */
.services__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 3rem;
    align-items: center;
    gap: 4.8rem;
    margin: 0 9.5rem;
}

.services__kanan p{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.services__list{
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.25rem;
}

.services__list li img{
    padding: 5px;
}

.services__list li span{
    position: relative;
    z-index: 10;
    bottom: 11px;
}



/* ========== Pengerjaan section benefits =========== */
.benefits{
    padding: 1rem 5rem;
    margin-top: 5rem;
}

.benefit__title h2{
    margin-bottom: 1rem;
}

.benefit__title p{
    margin-bottom: 2.5rem;
}

.benefits__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
}

.benefit{
    padding: 1.5rem;
    border: 1px solid;
    border-color: var(--neutral);
    border-radius: 0.5rem; 
   
}

.benefit h5{
    margin: 1rem 0;
}



/* ========== Pengerjaan section testimonials =========== */

.testimonials__container{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.testimoni__judul{
    text-align: center;
}

.testimoni{
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    position: relative;
    
    /*width: 1500px;*/
    overflow-x:hidden; /*menghandle content yang ukurannya melebihi ukuran parent content trsbt*/
}

.testi{
    background: var(--bg);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: 30% 1fr;
}

.testi p{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* ========== Pengerjaan section sewa =========== */
.sewa__container{
    margin: 5rem 5rem;
    background: var(--blue-primary);
    padding: 3rem 17rem;
    border-radius: 13px;
    color: var(--white);
    text-align: center;
}

.sewa__container p{
    padding: 1.5rem 0;
}



/* ========== Pengerjaan section FAQ =========== */
.faq__container{
    margin: 5rem 5rem;
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 5rem;
}

.faq{
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    cursor: pointer;
    padding: 1.2rem 2rem;
    border: 1px solid;
    border-color: var(--neutral);
    border-radius: 0.5rem; 
    margin-bottom: 1rem;
    justify-content: space-between;
}

.faq__kiri p{
    margin-top: 1rem;
}

.faq p{
    display: none;
}



/* ========== Pengerjaan Footer =========== */
.footer__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem 5rem;
}

.footer__1 p{
    margin-bottom: 1rem;
}

.footer__2 li{
    margin-bottom: 1rem;
}

.footer__socials{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.footer__4 p{
    margin-bottom: 1rem;
}
